<!DOCTYPE html>
<html lang='en'>
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>{{ metaTitle | safe }}</title>
  <meta name="title" content="{{ metaTitle | safe }} — {{ metaDescription | safe }}">
  <meta name="description" content="{{ metaDescription | safe }}">
  <meta name="author" content="Conor Meagher">
  <meta name="robots" content="follow, index" />

  <!-- Open Graph / Facebook -->
  <meta property="og:type" content="website">
  <meta property="og:url" content="{{ page.url | url | absoluteUrl(metadata.url)}}">
  <meta property="og:title" content="{{ metaTitle | safe }}">
  <meta property="og:description" content="{{ metaDescription | safe }}">
  <meta property="og:locale" content="en_US">
  {%- if featuredImg %}
  <meta property="og:image" content="https://res.cloudinary.com/conrmahr/image/upload/v1612884943/conr.dev/{{featuredImg}}.png">
  {%- else -%}
  <meta property="og:image" content="https://res.cloudinary.com/conrmahr/image/upload/v1641413250/conr.dev/og-image.webp">
  {%- endif %}

  <!-- Twitter -->
  <meta name="twitter:card" content="summary_large_image">
  <meta name="twitter:url" content="{{ page.url | url | absoluteUrl(metadata.url)}}">
  <meta name="twitter:title" content="{{ metaTitle | safe }}">
  <meta name="twitter:description" content="{{ metaDescription | safe }}">
  <meta name="twitter:creator" content="@conrmahr">
  
  {%- if featuredImg %}
  <meta name="twitter:image" content="https://res.cloudinary.com/conrmahr/image/upload/v1612884943/conr.dev/{{featuredImg}}.png">
  {%- else -%}
  <meta name="twitter:image" content="https://res.cloudinary.com/conrmahr/image/upload/v1641413250/conr.dev/og-image.webp">
  {%- endif %}
  <style>@font-face{font-family:'Inter';font-style:normal;font-weight:400;font-display:swap;src:url(https://fonts.gstatic.com/s/inter/v3/UcCO3FwrK3iLTeHuS_fvQtMwCp50KnMw2boKoduKmMEVuLyfMZg.ttf) format('truetype')}@font-face{font-family:'Inter';font-style:normal;font-weight:500;font-display:swap;src:url(https://fonts.gstatic.com/s/inter/v3/UcCO3FwrK3iLTeHuS_fvQtMwCp50KnMw2boKoduKmMEVuI6fMZg.ttf) format('truetype')}@font-face{font-family:'Inter';font-style:normal;font-weight:600;font-display:swap;src:url(https://fonts.gstatic.com/s/inter/v3/UcCO3FwrK3iLTeHuS_fvQtMwCp50KnMw2boKoduKmMEVuGKYMZg.ttf) format('truetype')}@font-face{font-family:'Inter';font-style:normal;font-weight:700;font-display:swap;src:url(https://fonts.gstatic.com/s/inter/v3/UcCO3FwrK3iLTeHuS_fvQtMwCp50KnMw2boKoduKmMEVuFuYMZg.ttf) format('truetype')}</style>
  <link rel="canonical" href="{{ page.url | url | absoluteUrl(metadata.url)}}" />
  <link rel="preconnect" href="https://fonts.gstatic.com">
  <link href="https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&display=swap" rel="preload" as="style" onload="this.onload=null;this.rel='stylesheet'">
  <noscript>
    <link
        href="https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&display=swap"
        rel="stylesheet"
        type="text/css"
    />
  </noscript>
  <link rel="stylesheet" href="{{ '/css/styles.css' | url }}" rel="preload" as="style" onload="this.onload=null;this.rel='stylesheet'">
  <noscript>
    <link
        href="{{ '/css/styles.css' | url }}"
        rel="stylesheet"
        type="text/css"
    />
  </noscript>
  <link rel="alternate" href="{{ metadata.feed.url }}" type="application/atom+xml" title="{{metadata.feed.subtitle}}">
  <link rel="apple-touch-icon" sizes="180x180" href="{{ '/img/apple-touch-icon.png' | url }}">
  <link rel="icon" type="image/svg+xml" href="{{ '/img/favicon.svg' | url }}">
  <link rel="icon" type="image/png" sizes="32x32" href="{{ '/img/favicon-32x32.png' | url }}">
  <link rel="icon" type="image/png" sizes="16x16" href="{{ '/img/favicon-16x16.png' | url }}">
  <link rel="manifest" href="{{'/site.webmanifest' | url}}">
  <link rel="mask-icon" href="../img/safari-pinned-tab.svg" color="#5bbad5">
  <meta name="msapplication-TileColor" content="#603cba">
  <meta name="theme-color" content="#ffffff">

  <!-- Global site tag (gtag.js) - Google Analytics -->
  <script async src="https://www.googletagmanager.com/gtag/js?id=G-ET81J6K01P"></script>
  <script>
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());

    gtag('config', 'G-ET81J6K01P');
  </script>
</head>

<body
class="h-full text-black antialiased bg-gray-50 dark:bg-black dark:text-gray-200 bg-no-repeat bg-top bg-contain">
  <!-- skip to content -->
  <a href="#content" class="w-full block text-center bg-gray-100 sr-only focus:not-sr-only">
    Skip to Content
  </a>

  {% block header %}
  {% include "../_components/_header.njk" %}
  {% endblock %}

  {% if page.url==='/'%}
    {% block hero %}
      {% include '../_components/_hero.njk' %}
    {% endblock hero %}
  {% endif %}

  <main id="content" role="main">
    {{ content | safe }}
  </main>

  {% block footer %}
  {% include "../_components/_footer.njk" %}
  {% endblock %}
  <script>
  if (window.netlifyIdentity) {
    window.netlifyIdentity.on("init", user => {
      if (!user) {
        window.netlifyIdentity.on("login", () => {
          document.location.href = "/admin/";
        });
      }
    });
  }
</script>
</body>

</html>