---
layout: base.njk
---
{% block featuredWorks %}
  {% include '../_components/_featuredWorks.njk' %}
{% endblock featuredWorks %}

{% block experience %}
  {% include '../_components/_experience.njk' %}
{% endblock experience %}