---
layout: base.njk
---
{% block featuredworks %}
  {% include '../_components/_featuredworks.njk' %}
{% endblock featuredworks %}

{% block experience %}
  {% include '../_components/_experience.njk' %}
{% endblock experience %}